// Fonts
$system_font: "Zen Kaku Gothic New";
$editor_font: "Fira Code";

// Colors
$white: #F0F0F0;
$black: #101010;
$border: #00000040;

// Values
$window_border_width: 4px;
$window_corner_radius: 8px;