@use "./variables" as var;

.Window-Frame {
	-webkit-app-region: drag;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var.$window_corner_radius;
	border: solid var.$window_border_width #f0efe9;
	box-shadow: inset 0 0 2px 2px #b2b1a9;
	z-index: 9999;
}

.Window-Content {
	position: absolute;
	top: var.$window_border_width;
	left: var.$window_border_width;
	width: calc(100% - var.$window_border_width * 2);
	height: calc(100% - var.$window_border_width * 2);
	border-radius: var.$window_corner_radius;
	background: linear-gradient(160deg, #ede4dc 20%, #b4bec0 100%);
	overflow: hidden;
}